# Cleaning Data

My Dataset:https://www.kaggle.com/datasets/susuwatari/ppp-loan-data-paycheck-protection-program

# Business Issue:

Geospatial Analysis for Community Impact: Geospatial analysis helps AltCap get a clear picture of how PPP loans were distributed across various regions and communities. By using maps and visualizations, AltCap can see which areas received more or fewer loans. This information is valuable because it shows where there might be a greater need for financial support. Even though PPP loans stopped in May 2021, this data can still provide important insights. AltCap can use these insights to target specific communities that might benefit from their initiatives, ensuring that their efforts are directed where they're needed the most. This approach can help AltCap make a positive impact and provide accessible capital to communities that need it.

# Import

In [62]:
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

df = pd.read_csv('C:\Lekha\Altcap\PPP_Loan_Data\PPP_data_150k_plus.csv') 
df

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
0,a $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,295.0,04/14/2020,"National Cooperative Bank, National Association",AK - 00
1,a $5-10 million,CRUZ CONSTRUCTION INC,7000 East Palmer Wasilla Hwy,PALMER,AK,99645.0,238190.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,215.0,04/15/2020,First National Bank Alaska,AK - 00
2,a $5-10 million,"I. C. E. SERVICES, INC",2606 C Street,ANCHORAGE,AK,99503.0,722310.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,367.0,04/11/2020,KeyBank National Association,AK - 00
3,a $5-10 million,KATMAI HEALTH SERVICES LLC,"11001 O'MALLEY CENTRE DRIVE, SUITE 204",ANCHORAGE,AK,99515.0,621111.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,0.0,04/29/2020,Truist Bank d/b/a Branch Banking & Trust Co,AK - 00
4,a $5-10 million,MATANUSKA TELEPHONE ASSOCIATION,1740 S. CHUGACH ST,PALMER,AK,99645.0,517311.0,Cooperative,Unanswered,Unanswered,Unanswered,NaN,267.0,06/10/2020,CoBank ACB,AK - 00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661213,"e $150,000-350,000",NOT AVAILABLE,NaN,NaN,XX,NaN,339114.0,NaN,Unanswered,Unanswered,Unanswered,NaN,17.0,05/03/2020,"Bank of America, National Association",NA -
661214,"e $150,000-350,000",NOT AVAILABLE,NaN,NaN,XX,NaN,339114.0,NaN,Unanswered,Unanswered,Unanswered,NaN,16.0,05/03/2020,"Bank of America, National Association",NA -
661215,"e $150,000-350,000",NOT AVAILABLE,NaN,NaN,XX,NaN,339114.0,NaN,Unanswered,Unanswered,Unanswered,NaN,14.0,05/03/2020,"Bank of America, National Association",NA -
661216,"e $150,000-350,000",OTTAWA PRODUCTS CO INC,NaN,NaN,XX,NaN,332510.0,NaN,Unanswered,Unanswered,Unanswered,NaN,NaN,05/03/2020,The Huntington National Bank,NA -
661217,"e $150,000-350,000",POPPYCOCKS INC,NaN,NaN,XX,NaN,444220.0,NaN,Unanswered,Unanswered,Unanswered,NaN,NaN,05/03/2020,The Huntington National Bank,NA -

In [63]:
df.shape

(661218, 16)

# Missing Data

The results of isnull() BusinessName, Address, City, Zip, NAICSCode, BusinessType, NonProfit & JobsRetained has has missing values.

In [64]:
df.isnull().sum()

LoanRange             0
BusinessName          8
Address              17
City                 15
State                 0
Zip                  16
NAICSCode          6783
BusinessType       1429
RaceEthnicity         0
Gender                0
Veteran               0
NonProfit        618756
JobsRetained      40506
DateApproved          0
Lender                0
CD                    0
dtype: int64

# Cleaning The Data And Creating The New Features

In [65]:
# Make a copy of the df

clean_data = df.copy()

# Filling BusinessName Null Values.

In [66]:
#Fill null values using the Unknown

default_business_name = 'Unknown'
clean_data['BusinessName'].fillna(default_business_name, inplace=True)

In [67]:
#Fill null values using the Unknown

default_Address = 'Unknown'
clean_data['Address'].fillna(default_Address, inplace=True)

In [68]:
#Fill null values using the Unknown

default_City = 'Unknown'
clean_data['City'].fillna(default_City, inplace=True)

In [69]:
#Fill null values using the Zero

default_Zip = 0
clean_data['Zip'].fillna(default_Zip, inplace=True)
default_Zip

0

In [70]:
# leaving null values for NAICSCode as is, discussion with stake holders.

In [71]:
#Fill null values using the Unknown

default_BusinessType = 'Unknown'
clean_data['BusinessType'].fillna(default_BusinessType, inplace=True)

In [72]:
#Fill null values using the Unknown

default_NonProfit = 'Unknown'
clean_data['NonProfit'].fillna(default_NonProfit, inplace=True)

In [73]:
# leaving null values for JobsRetained as is, discussion with stake holders.
clean_data.isnull().sum()

LoanRange            0
BusinessName         0
Address              0
City                 0
State                0
Zip                  0
NAICSCode         6783
BusinessType         0
RaceEthnicity        0
Gender               0
Veteran              0
NonProfit            0
JobsRetained     40506
DateApproved         0
Lender               0
CD                   0
dtype: int64

In [74]:
df['City'] = df['City'].str.title()
df['City']

0            Barrow
1            Palmer
2         Anchorage
3         Anchorage
4            Palmer
            ...
661213          NaN
661214          NaN
661215          NaN
661216          NaN
661217          NaN
Name: City, Length: 661218, dtype: object

In [75]:
# Replace the repititive inconsistent values

clean_data['Lender'].replace({'Bank of America, National Association':'Bank of America', 'Adrian State Bank':'Adrian Bank', '1st Advantage Bank':'1st Advantage FCU'}, inplace=True)
clean_data['Lender'].value_counts()

JPMorgan Chase Bank, National Association      36700
Bank of America                                29157
Truist Bank d/b/a Branch Banking & Trust Co    16076
PNC Bank, National Association                 14649
Wells Fargo Bank, National Association         12147
                                               ...
Renaissance Community Loan Fund, Inc.              1
Lincoln County CU                                  1
First Security Bank of Roundup                     1
Altana FCU                                         1
Pathfinder FCU                                     1
Name: Lender, Length: 4320, dtype: int64

In [81]:
# Replace the LoanRange inconsistent values
clean_data['LoanRange'].replace({'a $5-10 million':'05- $5-10 million', 'b $2-5 million':'04- $2-5 million', 'c $1-2 million':'03- $1-2 million', 'd $350,000-1 million':'02- $350k-1 million', 'e $150,000-350,000':'01- $150k-350k'}, inplace=True)
clean_data['LoanRange'].value_counts()

01- $150k-350k         379054
02- $350k-1 million    199456
03- $1-2 million        53030
04- $2-5 million        24838
05- $5-10 million        4840
Name: LoanRange, dtype: int64

In [82]:
clean_data.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
0,05- $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,295.0,04/14/2020,"National Cooperative Bank, National Association",AK - 00
1,05- $5-10 million,CRUZ CONSTRUCTION INC,7000 East Palmer Wasilla Hwy,PALMER,AK,99645.0,238190.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,Unknown,215.0,04/15/2020,First National Bank Alaska,AK - 00
2,05- $5-10 million,"I. C. E. SERVICES, INC",2606 C Street,ANCHORAGE,AK,99503.0,722310.0,Corporation,Unanswered,Unanswered,Unanswered,Unknown,367.0,04/11/2020,KeyBank National Association,AK - 00
3,05- $5-10 million,KATMAI HEALTH SERVICES LLC,"11001 O'MALLEY CENTRE DRIVE, SUITE 204",ANCHORAGE,AK,99515.0,621111.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,Unknown,0.0,04/29/2020,Truist Bank d/b/a Branch Banking & Trust Co,AK - 00
4,05- $5-10 million,MATANUSKA TELEPHONE ASSOCIATION,1740 S. CHUGACH ST,PALMER,AK,99645.0,517311.0,Cooperative,Unanswered,Unanswered,Unanswered,Unknown,267.0,06/10/2020,CoBank ACB,AK - 00

In [84]:
clean_data.to_csv('PPP_Loan_Data_Tableau_ViZ.csv') 
clean_data.to_csv(r"C:\Users\chand\Launchcode\PPP_Loan_Data_Tableau_ViZ.csv")

# 
In columns there were missing values, outliers and inconsistent data. I'm more interested in exploring the new insights into my dataset while making visualizations by using Tableau.